<div class="container-fluid" id="cont">
    <div class="row  justify-content-center align-items-center">
        <div class="col d-flex align-content-center  ">
            <button class="btn btn-outline-secondary m-2 " id="cb">Early Five</button>
            <button class="btn btn-outline-secondary m-2" id="cb">Top Line</button>
            <button class=" btn btn-outline-secondary m-2 " id="cb">Middle Line</button>
            <button class="btn btn-outline-secondary m-2 " id="cb">4corners</button>
            <button class="btn btn-outline-secondary m-2 " id="cb">Fullhouse</button>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-4" id="circol">
            <div class="countercircle">
                <svg width="300" height="300" viewbox="0 0 300 300">
        
                <defs>
                    <linearGradient id="Gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                       <stop offset="0%" stop-color="#da59cb"/>
                       <stop offset="100%" stop-color="#d45gcb"/>
        </linearGradient>
        
                </defs>
        
                <circle  class="stat" cx="150" cy="150" r="100" />
                <circle  class="load" cx="150" cy="150" r="100"  />
                <text class="num" stroke-width="4" x="150" y="55%" text-anchor="middle">
                    <!--add random no-->
                </text>
            </svg>

            </div>
        </div>
        <div class="col-8" id="tabcol">
            <table id="tab">
                <tr>
                    <td id=#f1 class="odd ">12 </td>
                    <td id="f2 " class="even "> 32</td>
                    <td id="f3 " class="odd "> 54</td>
                    <td class="even "> </td>
                    <td class="odd "></td>
                    <td class="even "> </td>
                    <td id="f7 " class="odd "> 98</td>
                    <td class="even "> 32</td>
                    <td id="f9 " class="odd "> </td>

                </tr>
                <tr>
                    <td class="odd "></td>
                    <td class="even "> </td>
                    <td class="odd "> </td>
                    <td id="s4 " class="even "> 53</td>
                    <td class="odd "> 23</td>
                    <td id="s6 " class="even "></td>
                    <td id="s7 " class="odd "> 91</td>
                    <td id="s8 " class="even "> 39</td>
                    <td id="s9 " class="odd "> 61</td>
                </tr>
                <tr>
                    <td class="odd "> </td>
                    <td id="T2 " class="even ">27</td>
                    <td id="T3 " class="odd ">32</td>
                    <td id="T4 " class="even "></td>
                    <td id="T5 " class="odd ">12</td>
                    <td class="even "> </td>
                    <td id="T7 " class="odd "> 52</td>
                    <td class="even "> </td>
                    <td class="odd ">61</td>

                </tr>

            </table>
        </div>

        <br>

        <button class="btn-outline-secondary btn-lg m-4 bg-danger " style="color:white;font-weight: bolder; ">play</button>
    </div>






</div>